/*
 * Licensed Materials - Property of IBM
 *
 * 5724-U18
 *
 * (C) Copyright IBM Corp. 2020, 2022 All Rights Reserved
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 */

$breakpoint-sm-min: 0;
$breakpoint-sm-max: 500px;
$breakpoint-md-min: 501px;
$breakpoint-md-max: 700px;
$breakpoint-lg-min: 701px;
$breakpoint-lg-max: 1024px;
$breakpoint-xlg-min: 1025px;
$breakpoint-xlg-max: 1440px;
$breakpoint-max-min: 1441px;
$breakpoint-max-max: 2560px;
